<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pendekarsoftware.tomodoro">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tomodoro"
        tools:targetApi="31">
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".Timer.timer60.Timer60Activity"
            android:exported="false" />
        <activity
            android:name=".Timer.timer45.Timer45Activity"
            android:exported="false" />
        <activity
            android:name=".Article.DetailArtikel"
            android:exported="false" />
        <activity
            android:name=".Article.ItemArtikelActivity"
            android:exported="false" />
        <activity
            android:name=".MoodboardActivity"
            android:exported="false" />
        <activity
            android:name=".Timer.timer25.Timer25Activity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>